:root {
  color-scheme: light dark;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

[hidden] {
  display: none !important;
}

html, body {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
}

main {
  display: flex;
  height: 100%;
  justify-content: safe center;
  align-items: safe center;
}

#quizTypeForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
