:root {
  /* Colors */
  --accent: #f9b924;
  --accent-light: #ffda83;
  --body-color: #621818;
  --body-bg-color: #fffff9;
  --error-color: #dc3545;
  --success-color: #198754;
  --outline-color: var(--accent);
  --btn-bg-color: #ffda83;
  --btn-border-color: var(--body-color);

  /* Typography */
  --font-family: "Roboto", Arial, Helvetica, sans-serif;

  /* Other */
  --border-radius: 0.375rem;

  accent-color: var(--accent);
}

.noscript {
  padding: 1rem 2rem;
  background-color: var(--error-color);
  color: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

[hidden] {
  display: none !important;
}

html, body {
  height: 100%;
}

:not(:defined) {
  display: none !important;
}

body {
  font-family: var(--font-family);
  text-align: center;
  color: var(--body-color);
  overflow-x: hidden;
  background-color: var(--body-bg-color);
  background-image:
    linear-gradient(rgba(139, 0, 0, 0.075) 0.05rem, transparent 0.1rem),
    linear-gradient(90deg, rgba(139, 0, 0, 0.075) 0.05rem, transparent 0.1rem);
  background-size: 1.25rem 1.25rem;
}

main {
  height: 100%;
}
